<style>
.panel { 
    height: 125px;
    padding-bottom: 15px;
}

.heading {
  margin: 10px;
  h1 {
    font-size: 1rem;
  }
}

.intro{ 
  margin: 5px 0px; 
  p {

  }
}




</style>


<div class="panel">
    <div class="heading text-center">
        <h1>Welcome to Peters Corner</h1>
    </div>
    <div class="intro text-center">
        <p>
          This is a collection of poems written by me <%= data.site.poem_author.name%>
        </p>
    </div>
</div>