<style>

.footer {
  display: block;
  width: 100%;
  height: 45px;
  padding-top: 7px;
}

.no-link {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    padding-bottom: 5px;
}

</style>

<div class="footer bottom navbar-dark bg-danger">
  
  <div class="col-md-12 col-xs-6">

  </div>
</div>
